body {
  font-family: "arial";
  font-size: 15px;
  color: #FFFFFF;
  background-color: #2c4e50;
}
h1{
  font-family: "segoe ui";
  font-size:2,5em;

}
.container{
  border: 2px;
  border-color: white;
  border-style: solid;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #23395d;
  font-size: 30px;
}
button{
  color: #FFFFFF;
  background-color: #2980b9;
   padding: 0;
   margin: 10px;
  display: inline-block;
   color: white;
   font-size: 30px;
   text-decoration: none;
   padding: 14px 20px;
   border: 2px;
   border-color: white;
   border-style: solid;
}
img {max-width: 700px;
    min-width: 500px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;}
    #logoblue{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
    #velkomst{text-align: center;
      font-size:4em;
      background-color: #23395d;
      border: 2px;
      border-color: white;
      border-style: solid;
    }
    h2{background-color: #23395d;
    border: 1px;
    border-color: white;
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
    font-family: "segoe ui";
    padding-left: 2%;
    }
